#Node.js
node_modules/

#Environment variables
.env

#Playwright test reports
tests/playwright/test-results/
tests/playwright/playwright-report/

# k6 reports
tests/k6/reports/

# Logs
*.log

# OS files
.DS_Store